pre {
  padding: 0.5rem;
}

img.logo {
  float: revert;
  margin: 0;
}

.page-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}
